* {
  margin: 0;
  padding: 0;
}


img {
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  font-family: "Source Code Pro", monospace;
  background: url("../img/bg3.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #000000;
}

.container {
  padding: 0 16px;
}

.title {
  font-size: 36px;
  font-weight: normal;
}

.profile {
  max-width: 452px;
  box-sizing: border-box;
  margin: 0 auto;
}

.box {
  background: #eee;
  padding: 4rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  text-align: center;
  margin-top: 8rem;
}

.profile-pic {
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}

.profile span {
  font-size: 24px;
}

.profile p {
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.redes-sociais {
  display: flex;
  justify-content: center;
}

.redes-sociais li {
  margin-right: 1rem;
}

.portfolio {
  max-width: 700px;
  box-sizing: border-box;
}

.portfolio ul {
  margin-top: 3rem;
}

.portfolio li {
  display: grid;
  grid-template-columns: 4fr 1fr;
  text-align: left;
  gap: 1rem;
  color: #000000;
}

.portfolio li + li {
  margin-top: 2rem;
}

.portfolio img {
  border-radius: 10px;
}

.portfolio h2 {
  font-weight: normal;
  margin-bottom: 1rem;
}

@media (max-width: 666px) {
  body {
    font-family: "Source Code Pro", monospace;
    background: url("../img/bg3.jpg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #000000;
  }
  .box {
    padding: 0rem;
    margin-top: 4rem;
    border-radius: 10px;
    overflow: hidden;
	overflow-wrap: break-word;
  }
  .box:first-child {
    padding: 3rem;
  }
  .portfolio ul {
    margin-top: 1rem;
  }
  .portfolio li {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .portfolio li div {
    max-width: 450px;
  }
}
a:link, a:visited {
  padding: 10px 10px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color:#d3d3d3;
  padding: 10px 10px;
}
.test{
  vertical-align: middle;
  color:rgb(0, 0, 0);
  font-size: 15px;
}
